.page {
  background-color: rgba(248, 249, 251, 1);
  position: relative;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

.section_1 {
  background-color: rgba(255, 255, 255, 1);
  width: 1920px;
  height: 63px;
}

.box_1 {
  height: 63px;
  border: 1px solid rgba(246, 246, 248, 1);
  width: 255px;
}

.box_2 {
  width: 255px;
  height: 63px;
  border: 1px solid rgba(233, 234, 236, 1);
}

.label_1 {
  width: 32px;
  height: 32px;
  margin: 15px 0 0 16px;
}

.image_7 {
  width: 70px;
  height: 17px;
  margin: 23px 128px 0 9px;
}

.text_2 {
  width: 72px;
  height: 15px;
  overflow-wrap: break-word;
  color: rgba(24, 31, 39, 1);
  font-size: 18px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 18px;
  margin: 24px 0 0 24px;
}

.box_3 {
  background-color: rgba(242, 243, 247, 1);
  border-radius: 100px;
  width: 254px;
  height: 33px;
  margin: 15px 0 0 1238px;
}

.thumbnail_1 {
  width: 19px;
  height: 19px;
  margin: 7px 0 0 16px;
}

.text_3 {
  width: 84px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(138, 149, 153, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 10px 127px 0 8px;
}

.box_4 {
  height: 19px;
  background: url(./img/FigmaDDSSlicePNG5e74abf946f5740f3955e41b64a392a9.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 19px;
  margin: 22px 34px 0 24px;
}

.group_1 {
  background-color: rgba(232, 69, 122, 1);
  border-radius: 50%;
  width: 6px;
  height: 6px;
  margin-left: 15px;
}

.box_17 {
  width: 1888px;
  height: 1158px;
  margin-bottom: 141px;
}

.section_3 {
  background-color: rgba(255, 255, 255, 1);
  width: 255px;
  height: 1017px;
}

.box_5 {
  background-color: rgba(249, 250, 252, 1);
  border-radius: 10px;
  width: 223px;
  height: 68px;
  border: 1px solid rgba(241, 245, 249, 1);
  justify-content: flex-center;
  margin: 16px 0 0 16px;
}

.label_2 {
  width: 44px;
  height: 44px;
  margin: 12px 0 0 12px;
}

.text-wrapper_36 {
  width: 77px;
  height: 38px;
  margin: 15px 0 0 8px;
}

.text_4 {
  width: 48px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-family: Inter-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 16px;
}

.text_5 {
  width: 77px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(100, 116, 139, 1);
  font-size: 14px;
  font-family: Inter-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 2px;
}

.thumbnail_2 {
  width: 20px;
  height: 20px;
  margin: 24px 12px 0 50px;
}

.text_6 {
  width: 24px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(148, 163, 184, 1);
  font-size: 12px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 12px;
  margin: 42px 0 0 16px;
}

.group_19 {
  width: 84px;
  height: 18px;
  margin: 23px 0 0 28px;
}

.thumbnail_3 {
  width: 18px;
  height: 18px;
}

.text_7 {
  width: 56px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(84, 98, 116, 1);
  font-size: 14px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 2px;
}

.text_8 {
  width: 48px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(148, 163, 184, 1);
  font-size: 12px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 12px;
  margin: 23px 0 0 16px;
}

.box_7 {
  background-color: rgba(59, 131, 246, 1);
  border-radius: 10px;
  height: 38px;
  width: 223px;
  margin: 15px 0 740px 16px;
}

.section_4 {
  width: 220px;
  height: 38px;
  background: url(./img/FigmaDDSSlicePNG34a2d2d1fb0a9d10e451de40675b5b90.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.thumbnail_4 {
  width: 18px;
  height: 18px;
  margin: 11px 0 0 12px;
}

.text_9 {
  width: 56px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(59, 131, 246, 1);
  font-size: 14px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 13px 124px 0 10px;
}

.group_20 {
  width: 1601px;
  height: 1126px;
  margin-top: 32px;
}

.box_8 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 1601px;
  height: 74px;
}

.text-wrapper_2 {
  background-color: rgba(59, 131, 246, 1);
  border-radius: 8px;
  height: 42px;
  width: 181px;
  margin: 16px 0 0 24px;
}

.text_10 {
  width: 64px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: PingFang HK-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 16px;
  margin: 14px 0 0 58px;
}

.text-wrapper_3 {
  background-color: rgba(249, 250, 252, 1);
  border-radius: 8px;
  height: 42px;
  border: 1px solid rgba(241, 245, 249, 1);
  width: 181px;
  margin: 16px 0 0 24px;
}

.text_11 {
  width: 42px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(100, 116, 139, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 14px;
  margin: 15px 0 0 65px;
}

.text-wrapper_4 {
  background-color: rgba(249, 250, 252, 1);
  border-radius: 8px;
  height: 42px;
  border: 1px solid rgba(241, 245, 249, 1);
  width: 181px;
  margin: 16px 0 0 24px;
}

.text_12 {
  width: 42px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(100, 116, 139, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 14px;
  margin: 15px 0 0 65px;
}

.text-wrapper_5 {
  background-color: rgba(249, 250, 252, 1);
  border-radius: 8px;
  height: 42px;
  border: 1px solid rgba(241, 245, 249, 1);
  width: 181px;
  margin: 16px 0 0 24px;
}

.text_13 {
  width: 42px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(100, 116, 139, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 14px;
  margin: 15px 0 0 65px;
}

.text-wrapper_6 {
  background-color: rgba(249, 250, 252, 1);
  border-radius: 8px;
  height: 42px;
  border: 1px solid rgba(241, 245, 249, 1);
  width: 181px;
  margin: 16px 576px 0 24px;
}

.text_14 {
  width: 84px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(100, 116, 139, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 14px;
  margin: 15px 0 0 44px;
}

.box_9 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 1601px;
  height: 1028px;
  margin-top: 24px;
}

.text_15 {
  width: 64px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(36, 39, 46, 1);
  font-size: 16px;
  font-family: PingFang HK-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 16px;
  margin: 24px 0 0 24px;
}

.group_2 {
  background-color: rgba(252, 253, 253, 1);
  width: 1601px;
  height: 46px;
  border: 1px solid rgba(241, 245, 249, 1);
  margin-top: 24px;
  justify-content: flex-center;
}

.text_16 {
  width: 82px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(36, 39, 46, 1);
  font-size: 14px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 17px 0 0 24px;
}

.text_17 {
  width: 199px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(36, 39, 46, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 17px 0 0 12px;
}

.thumbnail_5 {
  width: 18px;
  height: 18px;
  margin: 15px 0 0 8px;
}

.label_3 {
  width: 24px;
  height: 24px;
  margin: 11px 0 0 24px;
}

.text_18 {
  width: 98px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(84, 98, 116, 1);
  font-size: 14px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 17px 0 0 10px;
}

.text-wrapper_7 {
  width: 364px;
  height: 12px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
  margin: 17px 24px 0 714px;
}

.text_19 {
  width: 364px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(36, 39, 46, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
}

.text_20 {
  width: 364px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(149, 150, 155, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
}

.section_9 {
  width: 1553px;
  height: 104px;
  margin: 24px 0 0 24px;
}

.image-text_31 {
  position: relative;
  width: 320px;
  height: 104px;
}

.image_1 {
  width: 104px;
  height: 104px;
}

.text-group_23 {
  width: 204px;
  height: 63px;
  margin-top: 8px;
}

.text_21 {
  width: 163px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 41px;
}

.text_22 {
  width: 204px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 11px;
}

.text_23 {
  width: 192px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(105, 105, 105, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 16px;
}

.text-wrapper_8 {
  background-color: rgba(29, 153, 111, 1);
  border-radius: 2px;
  height: 17px;
  width: 33px;
  position: absolute;
  left: 116px;
  top: 6px;
}

.text_24 {
  width: 20px;
  height: 9px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 10px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 10px;
  margin: 3px 0 0 7px;
}

.text-wrapper_37 {
  width: 43px;
  height: 35px;
  margin: 8px 0 0 305px;
}

.text_25 {
  width: 43px;
  height: 10px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: Camphor Pro-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
}

.text_26 {
  width: 16px;
  height: 10px;
  overflow-wrap: break-word;
  color: rgba(105, 105, 105, 1);
  font-size: 14px;
  font-family: Camphor Pro-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 15px;
}

.text_27 {
  width: 51px;
  height: 10px;
  overflow-wrap: break-word;
  color: rgba(232, 69, 122, 1);
  font-size: 14px;
  font-family: Camphor Pro-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 8px 0 0 341px;
}

.text_28 {
  width: 56px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(59, 131, 246, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
  margin: 6px 0 0 349px;
}

.text_29 {
  width: 56px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(59, 131, 246, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
  margin: 6px 0 0 32px;
}

.section_10 {
  width: 1553px;
  height: 104px;
  margin: 24px 0 0 24px;
}

.image-text_32 {
  position: relative;
  width: 320px;
  height: 104px;
}

.image_2 {
  width: 104px;
  height: 104px;
}

.text-group_24 {
  width: 204px;
  height: 63px;
  margin-top: 8px;
}

.text_30 {
  width: 163px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 41px;
}

.text_31 {
  width: 204px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 11px;
}

.text_32 {
  width: 192px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(105, 105, 105, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 16px;
}

.text-wrapper_10 {
  background-color: rgba(29, 153, 111, 1);
  border-radius: 2px;
  height: 17px;
  width: 33px;
  position: absolute;
  left: 116px;
  top: 6px;
}

.text_33 {
  width: 20px;
  height: 9px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 10px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 10px;
  margin: 3px 0 0 7px;
}

.text-wrapper_38 {
  width: 43px;
  height: 35px;
  margin: 8px 0 0 305px;
}

.text_34 {
  width: 43px;
  height: 10px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: Camphor Pro-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
}

.text_35 {
  width: 16px;
  height: 10px;
  overflow-wrap: break-word;
  color: rgba(105, 105, 105, 1);
  font-size: 14px;
  font-family: Camphor Pro-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 15px;
}

.text_36 {
  width: 51px;
  height: 10px;
  overflow-wrap: break-word;
  color: rgba(232, 69, 122, 1);
  font-size: 14px;
  font-family: Camphor Pro-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 8px 0 0 341px;
}

.text_37 {
  width: 56px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(59, 131, 246, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
  margin: 6px 0 0 349px;
}

.text_38 {
  width: 56px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(59, 131, 246, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
  margin: 6px 0 0 32px;
}

.group_5 {
  background-color: rgba(252, 253, 253, 1);
  width: 1601px;
  height: 46px;
  border: 1px solid rgba(241, 245, 249, 1);
  margin-top: 32px;
  justify-content: flex-center;
}

.text_39 {
  width: 82px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(36, 39, 46, 1);
  font-size: 14px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 17px 0 0 24px;
}

.image-text_33 {
  width: 225px;
  height: 18px;
  margin: 15px 0 0 12px;
}

.text-group_3 {
  width: 199px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(36, 39, 46, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 2px;
}

.thumbnail_6 {
  width: 18px;
  height: 18px;
}

.image-text_34 {
  width: 132px;
  height: 24px;
  margin: 11px 0 0 24px;
}

.label_4 {
  width: 24px;
  height: 24px;
}

.text-group_4 {
  width: 98px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(84, 98, 116, 1);
  font-size: 14px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 6px;
}

.text-wrapper_12 {
  width: 364px;
  height: 12px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
  margin: 17px 24px 0 714px;
}

.text_40 {
  width: 364px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(36, 39, 46, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
}

.text_41 {
  width: 364px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(149, 150, 155, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
}

.section_11 {
  width: 1553px;
  height: 104px;
  margin: 24px 0 0 24px;
}

.image-text_35 {
  position: relative;
  width: 320px;
  height: 104px;
}

.image_3 {
  width: 104px;
  height: 104px;
}

.text-group_25 {
  width: 204px;
  height: 63px;
  margin-top: 8px;
}

.text_42 {
  width: 163px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 41px;
}

.text_43 {
  width: 204px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 11px;
}

.text_44 {
  width: 192px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(105, 105, 105, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 16px;
}

.text-wrapper_13 {
  background-color: rgba(29, 153, 111, 1);
  border-radius: 2px;
  height: 17px;
  width: 33px;
  position: absolute;
  left: 116px;
  top: 6px;
}

.text_45 {
  width: 20px;
  height: 9px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 10px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 10px;
  margin: 3px 0 0 7px;
}

.text-wrapper_39 {
  width: 43px;
  height: 35px;
  margin: 8px 0 0 305px;
}

.text_46 {
  width: 43px;
  height: 10px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: Camphor Pro-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
}

.text_47 {
  width: 16px;
  height: 10px;
  overflow-wrap: break-word;
  color: rgba(105, 105, 105, 1);
  font-size: 14px;
  font-family: Camphor Pro-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 15px;
}

.text_48 {
  width: 51px;
  height: 10px;
  overflow-wrap: break-word;
  color: rgba(232, 69, 122, 1);
  font-size: 14px;
  font-family: Camphor Pro-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 8px 0 0 341px;
}

.text_49 {
  width: 56px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(59, 131, 246, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
  margin: 6px 0 0 349px;
}

.text_50 {
  width: 56px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(59, 131, 246, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
  margin: 6px 0 0 32px;
}

.section_12 {
  width: 1553px;
  height: 104px;
  margin: 24px 0 0 24px;
}

.image-text_36 {
  position: relative;
  width: 320px;
  height: 104px;
}

.image_4 {
  width: 104px;
  height: 104px;
}

.text-group_26 {
  width: 204px;
  height: 63px;
  margin-top: 8px;
}

.text_51 {
  width: 163px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 41px;
}

.text_52 {
  width: 204px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 11px;
}

.text_53 {
  width: 192px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(105, 105, 105, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 16px;
}

.text-wrapper_15 {
  background-color: rgba(29, 153, 111, 1);
  border-radius: 2px;
  height: 17px;
  width: 33px;
  position: absolute;
  left: 116px;
  top: 6px;
}

.text_54 {
  width: 20px;
  height: 9px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 10px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 10px;
  margin: 3px 0 0 7px;
}

.text-wrapper_40 {
  width: 43px;
  height: 35px;
  margin: 8px 0 0 305px;
}

.text_55 {
  width: 43px;
  height: 10px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: Camphor Pro-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
}

.text_56 {
  width: 16px;
  height: 10px;
  overflow-wrap: break-word;
  color: rgba(105, 105, 105, 1);
  font-size: 14px;
  font-family: Camphor Pro-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 15px;
}

.text_57 {
  width: 51px;
  height: 10px;
  overflow-wrap: break-word;
  color: rgba(232, 69, 122, 1);
  font-size: 14px;
  font-family: Camphor Pro-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 8px 0 0 341px;
}

.text_58 {
  width: 56px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(59, 131, 246, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
  margin: 6px 0 0 349px;
}

.text_59 {
  width: 56px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(59, 131, 246, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
  margin: 6px 0 0 32px;
}

.group_8 {
  background-color: rgba(252, 253, 253, 1);
  width: 1601px;
  height: 46px;
  border: 1px solid rgba(241, 245, 249, 1);
  margin-top: 32px;
  justify-content: flex-center;
}

.text_60 {
  width: 82px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(36, 39, 46, 1);
  font-size: 14px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 17px 0 0 24px;
}

.image-text_37 {
  width: 225px;
  height: 18px;
  margin: 15px 0 0 12px;
}

.text-group_7 {
  width: 199px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(36, 39, 46, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 2px;
}

.thumbnail_7 {
  width: 18px;
  height: 18px;
}

.image-text_38 {
  width: 132px;
  height: 24px;
  margin: 11px 0 0 24px;
}

.label_5 {
  width: 24px;
  height: 24px;
}

.text-group_8 {
  width: 98px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(84, 98, 116, 1);
  font-size: 14px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 6px;
}

.text-wrapper_17 {
  width: 364px;
  height: 12px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
  margin: 17px 24px 0 714px;
}

.text_61 {
  width: 364px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(36, 39, 46, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
}

.text_62 {
  width: 364px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(149, 150, 155, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
}

.section_13 {
  width: 1553px;
  height: 104px;
  margin: 24px 0 0 24px;
}

.image-text_39 {
  position: relative;
  width: 320px;
  height: 104px;
}

.image_5 {
  width: 104px;
  height: 104px;
}

.text-group_27 {
  width: 204px;
  height: 63px;
  margin-top: 8px;
}

.text_63 {
  width: 163px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 41px;
}

.text_64 {
  width: 204px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 11px;
}

.text_65 {
  width: 192px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(105, 105, 105, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 16px;
}

.text-wrapper_18 {
  background-color: rgba(29, 153, 111, 1);
  border-radius: 2px;
  height: 17px;
  width: 33px;
  position: absolute;
  left: 116px;
  top: 6px;
}

.text_66 {
  width: 20px;
  height: 9px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 10px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 10px;
  margin: 3px 0 0 7px;
}

.text-wrapper_41 {
  width: 43px;
  height: 35px;
  margin: 8px 0 0 305px;
}

.text_67 {
  width: 43px;
  height: 10px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: Camphor Pro-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
}

.text_68 {
  width: 16px;
  height: 10px;
  overflow-wrap: break-word;
  color: rgba(105, 105, 105, 1);
  font-size: 14px;
  font-family: Camphor Pro-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 15px;
}

.text_69 {
  width: 51px;
  height: 10px;
  overflow-wrap: break-word;
  color: rgba(232, 69, 122, 1);
  font-size: 14px;
  font-family: Camphor Pro-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 8px 0 0 341px;
}

.text_70 {
  width: 56px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(59, 131, 246, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
  margin: 6px 0 0 349px;
}

.text_71 {
  width: 56px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(59, 131, 246, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
  margin: 6px 0 0 32px;
}

.section_14 {
  width: 1553px;
  height: 104px;
  margin: 24px 0 4px 24px;
}

.image-text_40 {
  position: relative;
  width: 320px;
  height: 104px;
}

.image_6 {
  width: 104px;
  height: 104px;
}

.text-group_28 {
  width: 204px;
  height: 63px;
  margin-top: 8px;
}

.text_72 {
  width: 163px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 41px;
}

.text_73 {
  width: 204px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: PingFang HK-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 11px;
}

.text_74 {
  width: 192px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(105, 105, 105, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 16px;
}

.text-wrapper_20 {
  background-color: rgba(29, 153, 111, 1);
  border-radius: 2px;
  height: 17px;
  width: 33px;
  position: absolute;
  left: 116px;
  top: 6px;
}

.text_75 {
  width: 20px;
  height: 9px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 10px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 10px;
  margin: 3px 0 0 7px;
}

.text-wrapper_42 {
  width: 43px;
  height: 35px;
  margin: 8px 0 0 305px;
}

.text_76 {
  width: 43px;
  height: 10px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: Camphor Pro-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
}

.text_77 {
  width: 16px;
  height: 10px;
  overflow-wrap: break-word;
  color: rgba(105, 105, 105, 1);
  font-size: 14px;
  font-family: Camphor Pro-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-top: 15px;
}

.text_78 {
  width: 51px;
  height: 10px;
  overflow-wrap: break-word;
  color: rgba(232, 69, 122, 1);
  font-size: 14px;
  font-family: Camphor Pro-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 8px 0 0 341px;
}

.text_79 {
  width: 56px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(59, 131, 246, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
  margin: 6px 0 0 349px;
}

.text_80 {
  width: 56px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(59, 131, 246, 1);
  font-size: 14px;
  font-family: PingFang HK-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
  margin: 6px 0 0 32px;
}
